#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home {
  font-family: "JetBrains Mono", serif;
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
}

.heading {
  font-size: 2em;
  line-height: 1;
  text-decoration: none;
}

.description {
  font-size: 1em;
  line-height: 2;
  color: rgb(217, 217, 217);
}

.link {
  color: inherit;
  text-decoration: underline;
  line-height: 3;
  margin-right: 2rem;
  display: inline-block;
}